Business Question: How do different levels of government revenue and spending on public education (e.g., the ratio of federal spending to total spending) impact whether or not a district's achievement level is over 50%? 

Target Variable (Categorical): District-level student achievement (% of students rated as "Proficient" or above in  Language Arts). Coded as the following: 
0: District/LEA has 49% or fewer all students testing "Proficient" or above in reading
1: District/Lea has 50% of more all students testing "Proficient" or above in reading

Predictor Variables (Continuous): 
- TOTALREV = Total Revenue (raw number) - combo of Federal, State, and Local Revenue
- TFEDREV = Federal Revenue (raw number)
- FEDRCOMP = Compensatory (Title 1) Revenue
- TSTREV = State Revenue (raw number)
- TLOCREV = Local Revenue (raw number) 
- LOCRPROP = Property Taxes (Raw number)
- PCTTOTAL = Percentage of elementary-secondary revenue over total 
- PCTFTOT = Federal:Overall Revenue (percentage) - how much of an LEA's total revenue is comprised of money from Federal Sources
- PCTSTOT = State:Overall Revenue (percentage) - how much of a district's total revenue is comprised of money from state sources
- PCTLTOT = Local:Overall Revenue (percentage) how much of a district's total revenue is comprised of money from local sources 
- PCTLTAXP = taxes and parent government contributions (percentage)
- TCURSPND = Total current spending for elementary-secondary programs (Includes spending for instruction, student support services, and other (food services, enterprise operations). Does not include capital outlay expenditures (construction, land purchase, instructional equipment, state payments for captial outlay, payments to state, local governments or other school systems, and/or interest on school system debt). 
- TCURINST = Total current spending for instruction (raw number) 
- PPCSTOT = per pupil - total current spending (raw number)
- PPSALWG - per pupuil - total salaries and wages (raw number)
- PPITOTAL = per pupil - current total spending for instruction (raw number)
- PPISALWG - per pupil - salaries and wages for instruction (raw number)

In [1]:
# I have two school expenditure data frames to work from - one that I will use to match states with district names, 
# and one with the 2018 expenditure info from which I'll pull all predictor variables. 
import pandas as pd

In [2]:
df = pd.read_excel('district_data/elsec18.xls')

In [3]:
df2 = pd.read_excel('district_data/elsec18t.xls')

In [4]:
df.head()

,STATE,IDCENSUS,NAME,CONUM,CSA,CBSA,SCHLEV,NCESID,YRDATA,V33,...,V32,_19H,_21F,_31F,_41F,_61V,_66V,W01,W31,W61
0,1,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,03,0100240,18,9247,...,0,61254,6056,2465,64845,0,0,3696,4527,12832
1,1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,03,0100270,18,31782,...,0,440321,25000,7270,458051,0,0,31251,110488,99337
2,1,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,21640,03,0100300,18,824,...,0,7863,0,193,7670,0,0,0,298,154
3,1,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,N,21640,03,0101410,18,4619,...,0,5444,0,110,5334,0,0,66,1147,10510
4,1,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,03,0100360,18,3252,...,0,18531,0,1402,17129,0,0,1402,787,4018

In [5]:
df2.head()

,IDCENSUS,NAME,CONUM,CSA,CBSA,NCESID,ENROLL,TOTALREV,TFEDREV,FEDRCOMP,...,PPSALWG,PPEMPBEN,PPITOTAL,PPISALWG,PPIEMBEN,PPSTOTAL,PPSPUPIL,PPSSTAFF,PPSGENAD,PPSSCHAD
0,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,0100240,9247,82258,7240,1805,...,4750,2005,4927,3244,1277,2704,435,218,176,513
1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,0100270,31782,372175,25803,6930,...,5305,2104,5411,3488,1338,3390,613,360,125,620
2,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,21640,0100300,824,10016,2269,1103,...,6335,2559,6011,3608,1432,5115,562,441,966,738
3,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,N,21640,0101410,4619,35701,3849,1146,...,3217,1310,3459,2086,833,2020,371,161,246,429
4,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,0100360,3252,33360,3811,1049,...,5406,2217,5089,3284,1279,3682,645,493,352,639

In [6]:
df2.shape

(14274, 66)

In [7]:
# Since all my predictors are in 2nd dataframe, the only thing I need from the first dataframe is the state code,
# along with the census ID. 
# That way I can later replaces codes with state names.
states = df.filter(['IDCENSUS', 'STATE'], axis = 1)
states.head()

        IDCENSUS  STATE
0  1500100100000      1
1  1500200100000      1
2  1500300100000      1
3  1500300200000      1
4  1500400100000      1

In [8]:
# Merge two dataframes so that each district is matched with a state code
merged = df2.merge(states,on='IDCENSUS', how='inner')

In [9]:
merged.head()

,IDCENSUS,NAME,CONUM,CSA,CBSA,NCESID,ENROLL,TOTALREV,TFEDREV,FEDRCOMP,...,PPEMPBEN,PPITOTAL,PPISALWG,PPIEMBEN,PPSTOTAL,PPSPUPIL,PPSSTAFF,PPSGENAD,PPSSCHAD,STATE
0,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,0100240,9247,82258,7240,1805,...,2005,4927,3244,1277,2704,435,218,176,513,1
1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,0100270,31782,372175,25803,6930,...,2104,5411,3488,1338,3390,613,360,125,620,1
2,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,21640,0100300,824,10016,2269,1103,...,2559,6011,3608,1432,5115,562,441,966,738,1
3,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,N,21640,0101410,4619,35701,3849,1146,...,1310,3459,2086,833,2020,371,161,246,429,1
4,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,0100360,3252,33360,3811,1049,...,2217,5089,3284,1279,3682,645,493,352,639,1

In [10]:
df2.shape

(14274, 66)

In [11]:
merged.shape

(14274, 67)

In [12]:
#Drop all unnecessary columns, keeping only district info and predictors
districts = merged[['IDCENSUS', 'NCESID','NAME','ENROLL','TOTALREV','TFEDREV','FEDRCOMP','TSTREV','TLOCREV','LOCRPROP','TCURSPND','TCURINST','PCTTOTAL','PCTFTOT','PCTSTOT','PCTLTOT','PCTLTAXP','PPCSTOT','PPSALWG','PPITOTAL','PPISALWG']]
districts.head()

,IDCENSUS,NCESID,NAME,ENROLL,TOTALREV,TFEDREV,FEDRCOMP,TSTREV,TLOCREV,LOCRPROP,...,TCURINST,PCTTOTAL,PCTFTOT,PCTSTOT,PCTLTOT,PCTLTAXP,PPCSTOT,PPSALWG,PPITOTAL,PPISALWG
0,1500100100000,0100240,AUTAUGA COUNTY SCHOOL DISTRICT,9247,82258,7240,1805,55611,19407,7125,...,45632,100,8.8,67.6,23.6,8.7,8202,4750,4927,3244
1,1500200100000,0100270,BALDWIN COUNTY SCHOOL DISTRICT,31782,372175,25803,6930,159101,187271,53499,...,172064,100,6.9,42.7,50.3,14.4,9284,5305,5411,3488
2,1500300100000,0100300,BARBOUR COUNTY SCHOOL DISTRICT,824,10016,2269,1103,5425,2322,1338,...,4953,100,22.7,54.2,23.2,13.7,12076,6335,6011,3608
3,1500300200000,0101410,EUFAULA CITY SCHOOL DISTRICT,4619,35701,3849,1146,24304,7548,3110,...,15982,100,10.8,68.1,21.1,8.7,5888,3217,3459,2086
4,1500400100000,0100360,BIBB COUNTY SCHOOL DISTRICT,3252,33360,3811,1049,22704,6845,1478,...,16758,100,11.4,68.1,20.5,4.4,9491,5406,5089,3284

In [13]:
districts.shape

(14274, 21)

In [14]:
# Now, import reading assessment  data
reading = pd.read_csv('lea_reading.csv')

/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (18,20,22,26,36,38,40,42,44,46,50,52,54,98,108,112,114,122,124,126,128,130,136,138,140,144,150,152,154,156,158,162,170,180,182,184,192,194,236,240,248,250,254,256,258,260) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
reading.head()

,STNAM,FIPST,LEANM,LEAID,ST_LEAID,DATE_CUR,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,MAM_RLA00numvalid_1819,MAM_RLA00pctprof_1819,...,MIL_RLA05numvalid_1819,MIL_RLA05pctprof_1819,MIL_RLA06numvalid_1819,MIL_RLA06pctprof_1819,MIL_RLA07numvalid_1819,MIL_RLA07pctprof_1819,MIL_RLA08numvalid_1819,MIL_RLA08pctprof_1819,MIL_RLAHSnumvalid_1819,MIL_RLAHSpctprof_1819
0,ALABAMA,1,Albertville City,100005,AL-101,13AUG20,2869,38,8,GE50,...,9,GE50,11,GE50,6,GE50,14,GE50,7,LT50
1,ALABAMA,1,Marshall County,100006,AL-048,13AUG20,2938,36,13,LT50,...,NaN,NaN,1,PS,NaN,NaN,2,PS,1,PS
2,ALABAMA,1,Hoover City,100007,AL-158,13AUG20,7442,65,5,PS,...,20,60-79,15,GE50,9,GE50,11,GE50,9,GE50
3,ALABAMA,1,Madison City,100008,AL-169,13AUG20,5867,73,39,70-79,...,26,GE80,30,GE80,33,60-69,37,60-69,30,60-79
4,ALABAMA,1,Leeds City,100011,AL-167,13AUG20,1064,42,1,PS,...,1,PS,7,LT50,NaN,NaN,2,PS,3,PS

This dataframe contains a ton of columns that divide students into subgroups. For our purposes we're interested in reading achievement data for all kids who tested in that district during the 2018-2019 school year. 
- The "ALL_RLA00numvalid_1819" column gives the total number of kids in 3rd-12th grade who completed a reading assessment and for whom a proficiency level was assigned. 
- The "ALL_RLA00pctprof_1819" column gives the percentage of students who scored at or above proficient in reading.

Because I taught 4th grade ELA and am partial to it (it's an important year for reading!), I'm also interested in 4th grade specific reading data. 
- The "ALL_RLA04numvalid_1819" gives the total number of 4th graders who sat for a reading assessment and for whom a proficiency level was assigned. 
- The "ALL_RLA04pctprof_1819" gives the percentage of 4th grade students who scored at or above proficient in reading.

In [16]:
# Create new dataframe that selects the target columns mentioned above, along with any important location data 
achievement = reading[['STNAM','LEANM', 'LEAID','ALL_RLA00numvalid_1819','ALL_RLA00pctprof_1819','ALL_RLA04numvalid_1819','ALL_RLA04pctprof_1819']]
achievement.head()

,STNAM,LEANM,LEAID,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,ALL_RLA04numvalid_1819,ALL_RLA04pctprof_1819
0,ALABAMA,Albertville City,100005,2869,38,442,41
1,ALABAMA,Marshall County,100006,2938,36,417,33
2,ALABAMA,Hoover City,100007,7442,65,1049,64
3,ALABAMA,Madison City,100008,5867,73,768,78
4,ALABAMA,Leeds City,100011,1064,42,148,35-39

In [17]:
achievement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17396 entries, 0 to 17395
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STNAM                   17396 non-null  object
 1   LEANM                   17396 non-null  object
 2   LEAID                   17396 non-null  int64
 3   ALL_RLA00numvalid_1819  17396 non-null  int64
 4   ALL_RLA00pctprof_1819   17396 non-null  object
 5   ALL_RLA04numvalid_1819  15337 non-null  object
 6   ALL_RLA04pctprof_1819   15298 non-null  object
dtypes: int64(2), object(5)
memory usage: 951.5+ KB

After some reading I found that the LEA ID in the achievement data is the same as the NCES ID in the expenditure data. We should be safe to merge our financials with our achievement data using this ID. However, we can't merge a string and an integer column together so first we need to convert the "LEAID" to string format.

In [18]:
achievement['LEAID'] = achievement['LEAID'].astype(str)

<ipython-input-18-11fa45cbc62e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  achievement['LEAID'] = achievement['LEAID'].astype(str)

In [19]:
final = pd.merge(districts, achievement, left_on='NCESID', right_on='LEAID')
final.head()

,IDCENSUS,NCESID,NAME,ENROLL,TOTALREV,TFEDREV,FEDRCOMP,TSTREV,TLOCREV,LOCRPROP,...,PPSALWG,PPITOTAL,PPISALWG,STNAM,LEANM,LEAID,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,ALL_RLA04numvalid_1819,ALL_RLA04pctprof_1819
0,8500100100000,1000180,CAESAR RODNEY SCHOOL DISTRICT,7614,145049,7579,2525,120531,16939,13815,...,7535,9532,5626,DELAWARE,Caesar Rodney School District,1000180,4363,63,640,67
1,8500100200000,1000190,CAPITAL SCHOOL DISTRICT,6278,107742,10333,3452,74061,23348,22025,...,8795,10348,6370,DELAWARE,Capital School District,1000190,3425,43,513,49
2,8500100300000,1000790,LAKE FOREST SCHOOL DISTRICT,3804,51337,4397,1263,38386,8554,8305,...,6595,7499,4613,DELAWARE,Lake Forest School District,1000790,2065,58,330,59
3,8500100400000,1001620,SMYRNA SCHOOL DISTRICT,5486,73715,4612,905,55550,13553,12568,...,6763,7995,4969,DELAWARE,Smyrna School District,1001620,3192,56,450,52
4,8500170100000,1000750,POLYTECH SCHOOL DISTRICT,1188,24241,956,161,15538,7747,5641,...,8439,9668,5925,DELAWARE,POLYTECH School District,1000750,291,61,NaN,NaN

In [20]:
# Drop redundant columns
final = final.drop(['LEANM','LEAID'], axis=1)

In [21]:
final.head()

,IDCENSUS,NCESID,NAME,ENROLL,TOTALREV,TFEDREV,FEDRCOMP,TSTREV,TLOCREV,LOCRPROP,...,PCTLTAXP,PPCSTOT,PPSALWG,PPITOTAL,PPISALWG,STNAM,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,ALL_RLA04numvalid_1819,ALL_RLA04pctprof_1819
0,8500100100000,1000180,CAESAR RODNEY SCHOOL DISTRICT,7614,145049,7579,2525,120531,16939,13815,...,9.5,14518,7535,9532,5626,DELAWARE,4363,63,640,67
1,8500100200000,1000190,CAPITAL SCHOOL DISTRICT,6278,107742,10333,3452,74061,23348,22025,...,20.4,16190,8795,10348,6370,DELAWARE,3425,43,513,49
2,8500100300000,1000790,LAKE FOREST SCHOOL DISTRICT,3804,51337,4397,1263,38386,8554,8305,...,16.2,12367,6595,7499,4613,DELAWARE,2065,58,330,59
3,8500100400000,1001620,SMYRNA SCHOOL DISTRICT,5486,73715,4612,905,55550,13553,12568,...,17.0,12438,6763,7995,4969,DELAWARE,3192,56,450,52
4,8500170100000,1000750,POLYTECH SCHOOL DISTRICT,1188,24241,956,161,15538,7747,5641,...,23.3,16301,8439,9668,5925,DELAWARE,291,61,NaN,NaN

In [22]:
# Move some columns around
list(final.columns)

['IDCENSUS',
 'NCESID',
 'NAME',
 'ENROLL',
 'TOTALREV',
 'TFEDREV',
 'FEDRCOMP',
 'TSTREV',
 'TLOCREV',
 'LOCRPROP',
 'TCURSPND',
 'TCURINST',
 'PCTTOTAL',
 'PCTFTOT',
 'PCTSTOT',
 'PCTLTOT',
 'PCTLTAXP',
 'PPCSTOT',
 'PPSALWG',
 'PPITOTAL',
 'PPISALWG',
 'STNAM',
 'ALL_RLA00numvalid_1819',
 'ALL_RLA00pctprof_1819',
 'ALL_RLA04numvalid_1819',
 'ALL_RLA04pctprof_1819']

In [23]:
final = final[['IDCENSUS',
 'NCESID',
 'STNAM',
 'NAME',
 'ENROLL',
 'ALL_RLA00numvalid_1819',
 'ALL_RLA00pctprof_1819',
 'ALL_RLA04numvalid_1819',
 'ALL_RLA04pctprof_1819',              
 'TOTALREV',
 'TFEDREV',
 'FEDRCOMP',
 'TSTREV',
 'TLOCREV',
 'LOCRPROP',
 'TCURSPND',
 'TCURINST',
 'PCTTOTAL',
 'PCTFTOT',
 'PCTSTOT',
 'PCTLTOT',
 'PCTLTAXP',
 'PPCSTOT',
 'PPSALWG',
 'PPITOTAL',
 'PPISALWG',
 ]]

In [24]:
final.head()

,IDCENSUS,NCESID,STNAM,NAME,ENROLL,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,ALL_RLA04numvalid_1819,ALL_RLA04pctprof_1819,TOTALREV,...,TCURINST,PCTTOTAL,PCTFTOT,PCTSTOT,PCTLTOT,PCTLTAXP,PPCSTOT,PPSALWG,PPITOTAL,PPISALWG
0,8500100100000,1000180,DELAWARE,CAESAR RODNEY SCHOOL DISTRICT,7614,4363,63,640,67,145049,...,74749,100,5.2,83.1,11.7,9.5,14518,7535,9532,5626
1,8500100200000,1000190,DELAWARE,CAPITAL SCHOOL DISTRICT,6278,3425,43,513,49,107742,...,64962,100,9.6,68.7,21.7,20.4,16190,8795,10348,6370
2,8500100300000,1000790,DELAWARE,LAKE FOREST SCHOOL DISTRICT,3804,2065,58,330,59,51337,...,28723,100,8.6,74.8,16.7,16.2,12367,6595,7499,4613
3,8500100400000,1001620,DELAWARE,SMYRNA SCHOOL DISTRICT,5486,3192,56,450,52,73715,...,43860,100,6.3,75.4,18.4,17.0,12438,6763,7995,4969
4,8500170100000,1000750,DELAWARE,POLYTECH SCHOOL DISTRICT,1188,291,61,NaN,NaN,24241,...,11486,100,3.9,64.1,32.0,23.3,16301,8439,9668,5925

Now that we have our dataframe set up, we need to figure out how to handle our target variables. Right now, they are reported as percentages of students who sat for completed and scored at least a "Proficient" on a reading assessment during the 2018-2019 school year.

In [25]:
final['ALL_RLA00pctprof_1819'].min()

'10'

In [26]:
final['ALL_RLA00pctprof_1819'].max()

'PS'

In [27]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11336 entries, 0 to 11335
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCENSUS                11336 non-null  int64
 1   NCESID                  11336 non-null  object
 2   STNAM                   11336 non-null  object
 3   NAME                    11336 non-null  object
 4   ENROLL                  11336 non-null  int64
 5   ALL_RLA00numvalid_1819  11336 non-null  int64
 6   ALL_RLA00pctprof_1819   11336 non-null  object
 7   ALL_RLA04numvalid_1819  10865 non-null  object
 8   ALL_RLA04pctprof_1819   10836 non-null  object
 9   TOTALREV                11336 non-null  int64
 10  TFEDREV                 11336 non-null  int64
 11  FEDRCOMP                11336 non-null  int64
 12  TSTREV                  11336 non-null  int64
 13  TLOCREV                 11336 non-null  int64
 14  LOCRPROP                11336 non-null  int64
 15  TCURSPND                11336 non-null  int64
 16  TCURINST                11336 non-null  int64
 17  PCTTOTAL                11336 non-null  int64
 18  PCTFTOT                 11336 non-null  float64
 19  PCTSTOT                 11336 non-null  float64
 20  PCTLTOT                 11336 non-null  float64
 21  PCTLTAXP                11336 non-null  float64
 22  PPCSTOT                 11336 non-null  int64
 23  PPSALWG                 11336 non-null  int64
 24  PPITOTAL                11336 non-null  int64
 25  PPISALWG                11336 non-null  int64
dtypes: float64(4), int64(16), object(6)
memory usage: 2.3+ MB

In [28]:
pd.set_option('display.max_rows', 500)
final['ALL_RLA00pctprof_1819'].value_counts(ascending=False)

50-54    261
45-49    251
35-39    217
47       215
50       210
49       209
40-44    208
52       206
53       199
46       198
58       193
43       191
42       191
48       190
55       189
54       189
57       188
45       186
59       180
56       178
44       178
51       177
30-34    173
41       172
39       170
40       167
38       167
55-59    166
36       164
65       156
63       154
60       149
61       145
67       145
37       143
62       142
66       138
68       136
64       136
25-29    133
60-64    131
35       129
PS       126
34       125
32       125
33       124
69       119
72       117
31       113
70       112
65-69    108
71        94
30        89
74        88
73        87
20-24     85
LT50      85
29        84
77        81
76        80
40-59     79
27        77
70-74     76
28        76
75        75
50-59     74
GE50      73
78        69
40-49     65
79        62
81        61
80        60
30-39     57
15-19     55
83        54
60-69     53
22        48
20-29     47
82        47
24        45
23        44
60-79     43
75-79     42
25        42
26        42
21-39     38
85        35
84        34
21        31
86        27
20        26
18        25
LE20      25
70-79     25
LE10      24
19        22
10-14     20
11-19     20
17        19
LE5       19
88        17
87        17
16        16
90        15
80-84     15
13        12
89        12
80-89     11
85-89     10
GE80      10
15        10
6-9        9
14         8
91         7
10         6
12         5
9          5
92         4
11         4
5          4
90-94      3
GE90       2
93         2
95         2
94         2
8          2
98         2
7          1
6          1
GE95       1
4          1
LE1        1
96         1
Name: ALL_RLA00pctprof_1819, dtype: int64

In [29]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11336 entries, 0 to 11335
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCENSUS                11336 non-null  int64
 1   NCESID                  11336 non-null  object
 2   STNAM                   11336 non-null  object
 3   NAME                    11336 non-null  object
 4   ENROLL                  11336 non-null  int64
 5   ALL_RLA00numvalid_1819  11336 non-null  int64
 6   ALL_RLA00pctprof_1819   11336 non-null  object
 7   ALL_RLA04numvalid_1819  10865 non-null  object
 8   ALL_RLA04pctprof_1819   10836 non-null  object
 9   TOTALREV                11336 non-null  int64
 10  TFEDREV                 11336 non-null  int64
 11  FEDRCOMP                11336 non-null  int64
 12  TSTREV                  11336 non-null  int64
 13  TLOCREV                 11336 non-null  int64
 14  LOCRPROP                11336 non-null  int64
 15  TCURSPND                11336 non-null  int64
 16  TCURINST                11336 non-null  int64
 17  PCTTOTAL                11336 non-null  int64
 18  PCTFTOT                 11336 non-null  float64
 19  PCTSTOT                 11336 non-null  float64
 20  PCTLTOT                 11336 non-null  float64
 21  PCTLTAXP                11336 non-null  float64
 22  PPCSTOT                 11336 non-null  int64
 23  PPSALWG                 11336 non-null  int64
 24  PPITOTAL                11336 non-null  int64
 25  PPISALWG                11336 non-null  int64
dtypes: float64(4), int64(16), object(6)
memory usage: 2.3+ MB

According to the documentation for the achievement data, the code "PS" is used to supporess data in order to protect student privacy, and no actual achievement level is reported. Since this won't be useful for our analysis, we want to drop all rows with "PS" in the achievement column.

In [30]:
final.value_counts(final['ALL_RLA00pctprof_1819'] == 'PS')

ALL_RLA00pctprof_1819
False    11210
True       126
dtype: int64

In [31]:
final = final.loc[final['ALL_RLA00pctprof_1819'] != 'PS']

In [32]:
final.shape

(11210, 26)

In [33]:
final['ALL_RLA00pctprof_1819'].unique()

array(['63', '43', '58', '56', '61', '65', '53', '38', '39', '49', '34',
       '46', '51', '52', '40', '57', '45', '62', '55', '59', '35', '54',
       '60', '42', '66', '50', '48', '44', '33', '47', '67', '64', '75',
       '41', '15-19', '25', '24', '29', '23', '27', '32', '11', '31',
       '20-24', '30', '36', '28', '71', '20', '73', '37', '68', '22',
       '18', '26', '17', '25-29', '35-39', '40-44', '50-54', '55-59',
       '60-64', '70-79', '11-19', '45-49', '65-69', '75-79', '85-89',
       '70-74', '20-29', 'GE50', '79', 'LE5', '21', '60-69', '30-34',
       '10-14', '30-39', '40-49', 'LT50', '9', '85', '80-84', '15', '13',
       '16', '10', '81', '19', '77', '70', '12', '69', '14', '72', '5',
       'LE20', '6-9', '82', '76', 'LE10', '50-59', 'LE1', '80', '21-39',
       '8', '74', '78', '84', '87', '80-89', '83', '91', '40-59', '60-79',
       '90', '88', '86', 'GE90', 'GE80', '7', '4', '95', 'GE95', '98',
       '96', '90-94', '93', '89', '94', '92', '6'], dtype=object)

Now that the supressed data is removed from our dataframe, we can proceed with transforming our target column. Many of the proficiency results are ranges (e.g., 70-74). Because the consequences of falsely labeling a child as "Proficient" when they are, in fact, not, are largely thought of as more serious than falsely labeling a student as "Not Proficient" when they, in fact, are proficient, I have decided to take the lower end of these ranges as the assumed level of proficiency for that district. 

We'll create a function that iterates through our target column and extracts the appropriate number from that value to represent the achivement level.

In [35]:
test = []
for i, element in enumerate(final['ALL_RLA00pctprof_1819']): 
    if ("E" in element) or  ("T" in element): 
        test.append((element[2:])) #Drop first two characters if there is an "E" in the value
#     elif "LT" in element: 
#         test.append((element[2:]))
    elif "6-9" == element: 
        test.append((element[:1]))
    elif "-" in element: 
        test.append((element[:2]))
        
    else: 
        test.append(element)
#         final.at[i,'target'] == final['target'].str[:2]
    

    #test_set.add(len(element))
#         final['ALL_RLA00pctprof_1819'][i] = final['ALL_RLA00pctprof_1819'].str[:2]
#     else: a
#         final['ALL_RLA00pctprof_1819'][i] = final['ALL_RLA00pctprof_1819'][i]

# final.head()
#test_set

In [36]:
set1 = set(test)

In [37]:
set1

{'1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '4',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '5',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '7',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '8',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '9',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '98'}

In [38]:
final.head()

,IDCENSUS,NCESID,STNAM,NAME,ENROLL,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,ALL_RLA04numvalid_1819,ALL_RLA04pctprof_1819,TOTALREV,...,TCURINST,PCTTOTAL,PCTFTOT,PCTSTOT,PCTLTOT,PCTLTAXP,PPCSTOT,PPSALWG,PPITOTAL,PPISALWG
0,8500100100000,1000180,DELAWARE,CAESAR RODNEY SCHOOL DISTRICT,7614,4363,63,640,67,145049,...,74749,100,5.2,83.1,11.7,9.5,14518,7535,9532,5626
1,8500100200000,1000190,DELAWARE,CAPITAL SCHOOL DISTRICT,6278,3425,43,513,49,107742,...,64962,100,9.6,68.7,21.7,20.4,16190,8795,10348,6370
2,8500100300000,1000790,DELAWARE,LAKE FOREST SCHOOL DISTRICT,3804,2065,58,330,59,51337,...,28723,100,8.6,74.8,16.7,16.2,12367,6595,7499,4613
3,8500100400000,1001620,DELAWARE,SMYRNA SCHOOL DISTRICT,5486,3192,56,450,52,73715,...,43860,100,6.3,75.4,18.4,17.0,12438,6763,7995,4969
4,8500170100000,1000750,DELAWARE,POLYTECH SCHOOL DISTRICT,1188,291,61,NaN,NaN,24241,...,11486,100,3.9,64.1,32.0,23.3,16301,8439,9668,5925

In [39]:
len(test)

11210

In [40]:
len(final)

11210

In [41]:
final['target'] = test

In [42]:
final.head()

,IDCENSUS,NCESID,STNAM,NAME,ENROLL,ALL_RLA00numvalid_1819,ALL_RLA00pctprof_1819,ALL_RLA04numvalid_1819,ALL_RLA04pctprof_1819,TOTALREV,...,PCTTOTAL,PCTFTOT,PCTSTOT,PCTLTOT,PCTLTAXP,PPCSTOT,PPSALWG,PPITOTAL,PPISALWG,target
0,8500100100000,1000180,DELAWARE,CAESAR RODNEY SCHOOL DISTRICT,7614,4363,63,640,67,145049,...,100,5.2,83.1,11.7,9.5,14518,7535,9532,5626,63
1,8500100200000,1000190,DELAWARE,CAPITAL SCHOOL DISTRICT,6278,3425,43,513,49,107742,...,100,9.6,68.7,21.7,20.4,16190,8795,10348,6370,43
2,8500100300000,1000790,DELAWARE,LAKE FOREST SCHOOL DISTRICT,3804,2065,58,330,59,51337,...,100,8.6,74.8,16.7,16.2,12367,6595,7499,4613,58
3,8500100400000,1001620,DELAWARE,SMYRNA SCHOOL DISTRICT,5486,3192,56,450,52,73715,...,100,6.3,75.4,18.4,17.0,12438,6763,7995,4969,56
4,8500170100000,1000750,DELAWARE,POLYTECH SCHOOL DISTRICT,1188,291,61,NaN,NaN,24241,...,100,3.9,64.1,32.0,23.3,16301,8439,9668,5925,61

In [43]:
final[['ALL_RLA00pctprof_1819','target']]

      ALL_RLA00pctprof_1819 target
0                        63     63
1                        43     43
2                        58     58
3                        56     56
4                        61     61
...                     ...    ...
11331                    55     55
11332                 55-59     55
11333                    71     71
11334                    62     62
11335                 45-49     45

[11210 rows x 2 columns]

In [ ]:
#final = final.reset_index()
#get_target column, take in string,
#resultnumber = element[:x]
#if int(resultnumber) >= 50, return 1 
#else: return 0


test = final.copy().reset_index()

test['lowerbound'] = 0

for i, element in enumerate(test['ALL_RLA00pctprof_1819']): 
    if ("E" in element) or  ("T" in element): 
        test.at[i, 'lowerbound'] = element[2:] #Drop first two characters if there is an "E" in the value
#     elif "LT" in element: 
#         test.append((element[2:]))
    elif "6-9" == element: 
        test.at[i, 'lowerbound'] = element[:1]
    elif "-" in element: 
        test.at[i, 'lowerbound'] = element[:2]      
    else: 
        test.at[i,'lowerbound'] = element
#         final.at[i,'target'] == final['target'].str[:2]
    

    #test_set.add(len(element))
#         final['ALL_RLA00pctprof_1819'][i] = final['ALL_RLA00pctprof_1819'].str[:2]
#     else: a
#         final['ALL_RLA00pctprof_1819'][i] = final['ALL_RLA00pctprof_1819'][i]

# final.head()
#test_set

In [ ]:
test

In [ ]:
test.info()